page-evaluation-start {
   
    ion-card {
        position: relative;
        text-align: center;
    }

    ion-title{
        text-align: center;
    }

    .evaluation-start-container{
        margin: auto;
        margin-top: 15%
    }

    .button-form{
        margin-top: 5%;
        background: rgba(0, 128, 0, 0.83)
    }

    .evaluation-start-description {
        width: calc(100% - 10px);
        border: 1px solid rgba(142, 150, 142, 0.541);
        border-radius: 0;
        background: transparent;
    }

    .evaluation-start-notes-icon{
        font-size: 60px;
        font-size: 60px
    }
}
