page-login {

    ion-card {
        position: relative;
        text-align: center;
    }

    ion-title{
        text-align: center;
    }

    .login-container{
        margin: auto;
        margin-top: 15%
    }

    .button-form{
        margin-top: 5%;
        background: rgba(0, 128, 0, 0.83);
    }

}
