page-responsible-dashboard {
    
    ion-title{
        text-align: center;
    }

    ion-card {
        text-align: center;
    }

    ion-list-header{
        text-align: center;
    }

    ion-list-header h2{
        color: white
    }
}
    
