page-execute-action-plan {

    ion-title{
        text-align: center;
    }

    ion-card {
        text-align: center;
    }

    .button-form{
        margin-top: 5%;
        background: rgba(0, 128, 0, 0.83)
    }

}
