page-execute-action-plan {

    ion-title{
        text-align: center;
    }

    ion-card {
        text-align: center;
    }

    .button-form{
        margin-top: 5%;
        background: rgba(0, 128, 0, 0.83)
    }

    /*.card-header{
        background-color: map-get($colors, primary);
        color: #fff;
    }*/
    .answers {
        padding: 0px 16px; 
        max-height: 0px;
    }
}
